#intro {
 background-image: url(../assets/background-1.png);
 background-size: cover;
 height: 750px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;  
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--gray-100);
}

.highlight {
    color: var(--red);
}

nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
}

nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 32px;
    background-color: var(--gray-400);
    padding: 8px 16px;
}

.arrow {
    margin-top: 94px;
}

#principal {
    background-color: var(--gray-500);
    height: 917px;

    a:hover {
        border: solid 1px;
        border-color: var(--gray-100);
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 56px;
    gap: 20px;
}

.grid {
    max-width: 1040px;
    height: 584px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-content: center;
}

.card {
    width: 330px;
    height: 280px;
    background-color: var(--gray-400);
    border-radius: 10px;
    padding: 12px;
}

.imagem {
    display: flex;
    justify-content: center;
    
    img {
        width: 306px;
        height: 156px;
        border-radius: 10px;
    }
}

.texto {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 75px;
    gap: 8px;
    padding-top: 20px;
}

#work {
    height: 480px;
    background-color: var(--gray-600);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    align-content: center;
    justify-content: center;
    gap: 24px;
    padding-top: 56px;
}

.card-2 {
    width: 280px;
    height: 155px;
    border: solid 1px;
    border-color: var(--gray-500);
    border-radius: 10px;
    padding: 20px;
}

#final {
    background-image: url(../assets/background-2.png);
    background-size: cover;
    height: 787px;

     a:hover {
        border: solid 1px;
        border-color: var(--gray-100);
    }
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.last {
    width: 400px;
    height: 68px;
    background-color: var(--gray-400);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}
